<!DOCTYPE html>
<html>

<head>
    <title>发送消息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    
    <!-- return false 是为了阻止点击按钮导致提交表单（这会使页面刷新） -->
    <form id="message-form" onsubmit="return false"> 

        <div class="switch-container">
            <label class="switch-label" for="switch">即时输入</label>
            <label class="switch">
                <input type="checkbox" id="switch">
                <span class="slider"></span>
            </label>
        </div>

        <div style="height: 1em;"></div>

        <textarea id="message" name="message" rows="8"></textarea>

        <div>
            <button id="submit" onclick="sendMessage()">发送</button>
            <button onclick="getClipboardFromServer()">拉取</button>
            <button onclick="sendClipboardToServer()">推送</button>
        </div>

    </form>

    <script src="../static/socket.io.js"></script>
    <script src="../static/my.js"></script>
</body>

</html>
